[Desktop Entry]
Name=xCHM
Comment=CHM viewer
Comment[pl]=Przeglądarka plików CHM
Exec=xchm
Icon=xchm
StartupNotify=false
Terminal=false
Type=Application
Categories=GTK;Utility;
# vi: encoding=utf-8
